.content{
    margin-top: 2vw;
    padding-left: 4vw;
}
h2{
    padding-left: 16vw;
}
.main-wrapper{
    display: flex;
    gap: 5vw;
    margin-left: 2vw;
    padding-left: 14vw; 
}

.pet-info{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    font-size: 0.7rem;
    width: 30vw;
    margin-top: 3vw;
}
.pet-images{
    display: flex;
    gap: 2vw;
}
.pet-images img{
    width: 15vw;
    border-radius: 1vw;
}


/* форма */
.pets-form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    gap: 2vw;
    width: 40vw;
}

.pets-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    gap: 1vw;
}

.pets-form button{
    width: 15vw;
    height: 3vw;
    font-size: 0.6rem;
}

.pets-form input{
    width: 30vw;
    height: 3.5vw;
    font-size: 0.5rem;
}
.pets-form textarea{
    width: 30vw;
    height: 7vw;
}

.warning{
    font-size: 0.5rem;
}

@media (max-width: 767px) {
    .content{
        padding-left: 0 !important;
    }
    h2{
        font-size: 3rem !important;
        padding-left: 4vw;
    }
    .main-wrapper{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 !important;
    }
    .pet-img{
        display: none;
    }
    .pet-info{
        font-size: 1.8rem;
        width: 80vw;
    }
    .pets-form-wrapper{
        font-size: 1.7rem;
    }

    .pets-form{
        gap: 3vw;
    }
    .pets-form input{
        width: 80vw;
        height: 10vw;
        font-size: 1.5rem;
        border-radius: 3vw;
    }
    .pets-form textarea{
        width: 80vw;
        height: 20vw;
        font-size: 1.5rem;
        padding: 2vw;
        border-radius: 3vw;
    }
    .warning{
        font-size: 1.3rem;
        width: 80vw;
    }
    .pets-form button{
        width: 60vw;
        height: 7vw;
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .main-wrapper{
        display: flex;
        flex-direction: column;
    }
    .pet-info{
        display: flex;
        flex-direction: row;
        gap: 3vw;
        padding-left: 2vw;
        width: 80vw;
    }
    .pet-info p{
        font-size: 1.3rem;
        width: 60vw;
    }
    .pet-img{
        display: none;
    }
    .pet-img.tablet{
        display: block;
        width: 30vw;
    }
    h2{
        padding-left: 4vw;
        font-size: 2rem;
    }

    /* форма */

    .pets-form-wrapper{
        justify-content: flex-start;
        align-items: start;
        font-size: 1.3rem;
        padding-left: 2vw;
    }
    .pets-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .pets-form input{
        width: 40vw;
        height: 7vw;
        font-size: 1.3rem;
        border-radius: 2vw;
        padding: 2vw;
    }
    .pets-form textarea{
        width: 40vw;
        height: 20vw;
        font-size: 1.2rem;
        padding: 2vw;
        border-radius: 2vw;
    }
    .warning{
        font-size: 1.3rem;
        width: 45vw !important;
    }
    .pets-form button{
        width: 60vw;
        height: 5vw;
        font-size: 1.2rem;
        border-radius: 2vw;
    }
}