.main-info{
    display: grid;
    grid-template-columns: 40vw 30vw;
    margin-top: 5vw;
    padding-left: 4vw;
}

.left-column{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.short-info{
    display: flex;
    flex-direction: column;
}
.info-cards{
    display: flex;
    gap: 2vw;
    margin-bottom: 2vw;
}
.info-card{
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--beige);
    border-radius: 1vw;
    width: 10vw;
    font-size: 0.7rem;
}

.info-card h3{
    font-family: 'gochi';
    font-size: 1.3rem;
    color: var(--dark-blue);
}
.send{
    height: 3vw !important;   
    width: 30vw !important;
}

.description{
    font-size: 0.6rem;
    width: 38vw;
}

/* правая колонка */
.right-column{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.right-column img{
    width: 30vw;
    border-radius: 1vw;
}

/* фотки */
.photo-gallery{
    padding-left: 4vw;
    display: flex;
    gap: 2vw;
    margin-top: 3vw;
}
.photo-gallery img{
    width: 22vw;
    border-radius: 1vw;
}


.mobile-photos{
    display: none;
}

@media (max-width: 767px) {
    .content{
        padding: 0 !important;
    }
    .main-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .pet-photo{
        display: none;
    }
    .right-column{
        display: none;
    }
    .photo-gallery{
        display: none;
    }

    .left-column{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pet-name{
        order: 1;
        font-size: 2.5rem;
        font-family: 'century';
    }
    .info-cards{
        order: 2;
    }
    .description{
        order: 3;
    }
    .send{
        order: 4;
        width: 50vw !important;
        height: 10vw !important;
        font-size: 2rem;
        border-radius: 4vw;
        margin-top: 3vw;
    }

    /* карточки */
    .info-cards{
        display: flex;
        gap: 4vw;
    }
    .info-card{
        width: 25vw;
        height: 15vw;
        border-radius: 3vw;
        font-size: 1.7rem;
    }
    .info-heading{
        font-size: 2.5rem !important;
    }

    .description{
        font-size: 1.6rem;
        width: 90vw;
    }


    /* фотки слайдер */
    .mobile-photos{
        display: flex;
        margin-bottom: 2vw;
    }
    .slide{
        width: 100vw;
        padding-left: 0;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    .left-column{
        width: 50vw;
    }
    .pet-name{
        font-size: 3rem;
    }
    .info-cards{
        display: flex;
        gap: 2vw;
    }
    .info-card{
        width: 20vw;
        height: 10vw;
        border-radius: 3vw;
        font-size: 1rem;
    }
    .info-heading{
        font-size: 1.5rem !important;
    }

    .description{
        font-size: 0.9rem;
        width: 50vw;
    }

    .send{
        order: 4;
        width: 30vw !important;
        height: 5vw !important;
        font-size: 1rem;
        border-radius: 2vw;
    }

    /*  */
    .right-column{
        margin-top: 10vw;
    }
    .main-info{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 5vw;
    }
    .pet-photo{
        width: 35vw !important;
    }
    .photo-gallery img{
        width: 28vw !important;
    }
}