.search-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10vw;
    width: 10vw;
    margin-top: 3vw;
    padding-left: 4vw;
}

.search-input{
    display: flex;
    align-items: center;
    width: 40vw;
    gap: 1vw;
}
.search-input input{
    width: 20vw;
    font-size: 0.6rem;
}
.search-btn{
    width: 2vw;
    height: 2vw;
}

.filters{
    display: flex;
    width: 30vw;
    justify-content: space-between;
    gap: 3vw;
}
.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    min-width: 6vw;
    max-width: 40vw;
    background-color: var(--pink);
    padding: 1vw 3vw 1vw 3vw;
    border-radius: 1vw;
    cursor: pointer;
}
.filter.active{
    background-color: var(--light-blue);
}

/* сетка карточек */
.pets-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3vw;
    padding-left: 4vw; 
    row-gap: 2vw; 
}

/* карточка */
.pet-card{
    display: flex;
    flex-direction: column;
    border-radius: 1vw;
    background-color: var(--beige);
    width: 15vw; 
    cursor: pointer;    
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding-left: 1vw;
    padding: 1vw;
}
.card-img{
    width: 15vw;
    border-radius: 1vw;
}
.card-name-gender{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;     
}
.gender-icon {
    width: 1.5vw;
    height: auto;
}

.card-pet-info{
    font-size: 0.65rem;
}
.card-date{
    font-size: 0.6rem;
}


.mobile-search-input{
    display: none;
}

@media (max-width: 768px) {
    .mobile-search-input{
        display: block;
    }
    .mobile-search-input input{
        width: 60vw;
        border-radius: 3vw;
        height: 8vw;
        font-size: 1.7rem;
        padding: 2vw;
    }
    .search-input{
        display: none;
    }
    .search-btn{
        display: none;
    }
    .mobile-logo{
        display: none;
    }


    .search-line{
        display: flex;
        width: 100vw;
    }
    .filters{
        width: 90vw;
        display: flex;
        justify-content: space-around;
    }
    .filter{
        width: 60vw !important;
        height: 7vw;
        font-size: 1.5rem;
        border-radius: 2vw;
    }

    .pets-cards{
        display: flex;
        flex-direction: column;
        gap: 5vw;   
        margin-top: 7vw;
    }

    .pet-card{
        display: flex;
        gap: 3vw;
        flex-direction: row !important;
        width: 80vw;
        height: 30vw;   
        border-radius: 3vw;
    }
    .card-img{
        width: 35vw;
        border-radius: 3vw;

    }
    .card-content{
        padding: 2vw;
        gap: 2vw;
    }
    .card-name-gender{
        display: flex;
        width: 35vw;
        font-size: 2rem;
        justify-content: space-between;
    }
    .gender-icon{
        width: 4vw;
    }
    .card-pet-info{
        font-size: 1.7rem;
    }
    .card-date{
        font-size: 1.6rem;
    }
}